.container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: white;
  padding: 30px;
  text-align: right;
  z-index: 2;
  position: relative;
  margin-top: 0; 

.favoritebites h3 {
  font-size: 2rem;
  margin: 0;
  font-family: "Arial", sans-serif;
}

.favoritebites p {
  font-size: 1.5rem;
  margin: 0;
  font-family: "Arial", sans-serif;
}
